html{
	background-color: black;
	background: url("img/background.jpg") no-repeat center center fixed;
	background-size: cover;
}
body{
	margin: 0 auto;
	background-color: black;
	background: url("img/background.jpg") no-repeat center center fixed;
	background-size: cover;
}
.container, .col{
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 15px 15px 15px 15px;
}
#menu{
	width: 100%;
	padding: 0;
	text-align: center;
	margin-top: 3em;
}
#menu ul{
	list-style-type: none;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 0;
	border-radius: 15px 15px 15px 15px;
	overflow: hidden;
	max-width: 800px;
	margin: 0 auto;
}
#menu ul li{
	min-width: 160px;
	display: block;
	margin: 0 auto;
	padding: 0;
	float: left;
}
#menu ul li a{
	display: block;
	text-decoration: none;
	font-size: 25px;
	font-family: arial;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#menu ul li a:not(.active){
	color: black;
}
#menu ul li a:hover{
	color: white;
	background-color: #333;
	border-color: #333;
}
.active{
	color: white;
	background-color: #333;
}
@media screen and (max-width: 800px){
	#menu ul li {float: none; text-align: center; width: screen.width;}
	#menu ul {width: screen.width;}
}

