html{
	background-color: rgba(29,15,14);
	height: 100%; 
}
body{
	background-image: url("https://eternitytauri.tk/img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	height: 100%; 
}
#container{
	background-color: black;
	width: 600px;
	margin: 0 auto;
	text-align: center;
	border-radius: 15px 15px 15px 15px;
	background-size: auto;
	padding: 5px 5px 5px 5px;
}