html{
	background-color: black;
	background: url("https://eternitytauri.tk/img/background.jpg") no-repeat center center fixed;
	background-size: cover;
}
body{
	margin: 0 auto;
}
.container{
	background-color: rgba(255, 255, 255, 0.75);
	margin: 0;
	text-align: center;
	border-radius: 15px 15px 15px 15px;
	max-width: 800px;
}
.menu{
	list-style-type: none;
	width: 100%;
	top: 0;
	background-color: rgba(255, 255, 255, 0.75);
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.menu li{
	float: left;
	border-right: 1px black solid;
}
.menu li a{
	display: block;
	text-decoration: none;
	font-size: 30px;
	font-family: arial;
	font-weight: bold;
	padding: 10px;
}
.menu li a:not(.active){
	color: black;
}
.menu li a:hover{
	color: white;
	background-color: #333;
}
.active{
	color: white;
	background-color: #333;
}
@media screen and (max-width: 700px){
	ul.menu li {float: none; border-right: none; text-align: center;}
}
@media only screen and (max-width: 700px){
	div{width: screen.width;}
}
